.error {
  margin: 1em 0;
  background-color: #d00;
  padding: 1px;
  color: #fff;
  text-align: center; 
  width: 50%;
  margin: 0 auto;
}

.error-text {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff; 
  font-weight: bold;
}