$color-a: #111; // background 
$color-b: #fc0; // main color
$color-c: #fff; // text color

.header {
  margin:2em 0;
  background-color: $color-a;
  padding: 20px;
  color: $color-c;
  border-radius: 20px;
  text-align: center; }

.header-title {
  text-transform: uppercase;  
  font-size: 2em;
  font-family: 'Alegreya', serif;
  color: $color-b }

.header-text {
  font-size: 1em;
  color: $color-c }
