$color-a: #111; // background 
$color-b: #fc0; // main color
$color-c: #fff; // text color
$color-d: #f90; // hover color
$color-e: #555; // hover color

.pagination{
  padding: 1em 0 2em 0;
  text-align: center;
}

.btn, a.btn{
  border:none;
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Alegreya',sans-serif;
  text-transform: uppercase;
  font-size:1em;
  font-weight:300;
  color:$color-a;
  background-color:$color-b;
  text-align:center;
  transition: all 0.2s;
  &:hover, &:focus {
    color:$color-a;
    background-color:$color-d;
  }    

  &.disabled{
    color:$color-c;
    background-color:$color-e;
  }      

}


