$color-a: #111; // background 
$color-b: #fc0; // main color
$color-c: #fff; // text color

.people {
  margin:1em 0;
  background-color: $color-b;
  padding: 1px;
  text-align: center; }

.people-name {
  font-family: 'Source Sans Pro', serif;    
  text-transform: uppercase;  
  font-size: 1em;
  color: $color-a }
